.header-hero {
  background-color: $cream;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 60px;
}

//! Slider slide
.swiper-slide {
  display: flex;
  align-items: center;

  @media (max-width: 879px) {
    flex-direction: column-reverse;
  }
}

.slider {
  &__content {
    width: 50%;
    padding-right: 15px;

    @media (max-width: 879px) {
      width: 100%;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.02em;
    color: $black;
    margin: 0 0 20px 0;

    @media (max-width: 1179px) {
      font-size: 22px;
      margin-bottom: 10px;
    }

    @media (max-width: 879px) {
      font-size: 16px;
    }
  }

  &__attention {
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 67px;
    letter-spacing: 0.04em;
    color: $black;
    text-transform: uppercase;
    display: block;
    margin: 0 0 30px 0;

    @media (max-width: 1179px) {
      font-size: 38px;
      margin-bottom: 15px;
    }

    @media (max-width: 879px) {
      font-size: 28px;
    }
  }

  &__product {
    position: relative;
    width: 50%;

    @media (max-width: 879px) {
      width: 100%;
    }
  }
}

.product {
  // &-image {
  // }

  &-old-price {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: $black;

    @media (max-width: 1179px) {
      font-size: 16px;
    }
  }

  &-new-price {
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 1.2;
    text-align: right;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $red;

    @media (max-width: 1179px) {
      font-size: 28px;
    }
  }
}

.slider-old-price,
.slider-new-price {
  position: absolute;
  right: 0;
}

.slider-old-price {
  top: 40px;

  @media (max-width: 1179px) {
    top: 25px;
  }
}

.slider-new-price {
  top: calc(40px * 2);

  @media (max-width: 1179px) {
    top: calc(25px * 2);
  }
}

//! Swiper Container
.swiper-container {
  padding-bottom: 65px;
}

//! Pagination
.swiper-pagination-bullet {
  border-radius: 0;
  height: 5px;
  width: 30px;
  background-color: $black;
  opacity: 1;

  &-active {
    background-color: $accent;
  }
}